<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/fontawesome.css">
</head>
<body>
    <section id="login">
        <div class="agent-login">
            <div class="row">
                <div class="col-md-6">
                    <form action="">
                        <h3>AGENT <span class="color_primary">SIGNUP</span></h3>
                        <p class="text-muted">Create an account</p>
                        <input type="text" class="form-input" placeholder="Email address">
                        <input type="password" class="form-input" placeholder="Confirm Password">
                        <input type="password" class="form-input" placeholder="Password">
                        <div class="text-right">
                        </div>
                        <input type="button" class="btn filled-button" value="SIGNUP" placeholder="Email address">
                        <a class="text-right" href=""> <small>Login</small></a>
                    </form>
                </div>
                <div class="col-md-6 windows">
                    <div class="login-bg">

                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>